.title{
  text-align: center;
  font-size: 70px;
}

.color{
  color: #2ECFC1;
}

.wrapper{
  display: flex;
  justify-content: center;
}

.content{
  display: flex;
  width: 95%;
}

.user{
  width: 50%;
  margin-right: 30px;
  text-align: center;
}

.img{
  border-radius: 50%;
  width: 60%;
}

.info{
  margin-top: 25px;
}

.name{
  margin-bottom: 15px;
}

.giturl{
  color: #2ECFC1;
  text-decoration: none;
}

.location{
  margin-top: 15px;
}

.works{
  margin: 35px 0 20px 0;
}

.worksTitle{
  margin: 0;
  text-align: start;
}

.worksList{
  margin: 0;
  padding: 0;
  list-style: none;
}

.worksLink{
  color: black;
  text-decoration: none;
  transition: all .4s;
  display: flex;
  align-items: center;
}

.worksLink:hover{
  color: #2ECFC1;
  fill: #2ECFC1;
}

.worksItem{
  margin: 15px 0 0 0;
}

.worksItem::first-letter{
  font-weight: bold;
}

.linkicon{
  min-width: 20px;
  min-height: 20px;
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.repo{
  width: 50%;
}

.repoTitle{
  margin: 0 20px 0 0;
  text-align: end;
}

.list{
  border: 1.3px solid rgba(0,0,0,0.3);
  border-radius: 3px;
  list-style: none;
  text-align: center;
  padding: 0;
  overflow-y: scroll;
  height: 580px;
}

::-webkit-scrollbar {
  width: .1px;
  height: .1px;
  background-color: transparent;
}

.item{
  display: flex;
  align-items: center;
  padding: 20px 10px;
  border-top: 1.3px solid rgba(0,0,0,0.3);
  color: black;
  transition: all .4s;
}

.item:hover{
  background-color: #F6F8FA;
  color: #2ECFC1;
  padding: 20px 20px;
  font-size: 20px;
}

.item:hover .giticon{
  fill: #2ECFC1;
  height: 35px;
  color: #2ECFC1;
}

.language,.update{
  font-size: 12px;
  width: 20%;
}

.link{
  text-decoration: none;
}

.link:first-child>li{
  border-top: 1.3px solid rgba(0,0,0,0);
}

.repoName{
  width: 45%;
  text-align: left;
  padding-left: 20px;
}

.giticon{
  fill: black;
  height: 25px;
  transition: all .4s;
  width: 20%;
  margin-right: -10px;
}

.error{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.error_text{
  font-size: 20px;
}

.error_num{
  margin: 20px;
  color: #2ECFC1;
  font-size: 50px;
  font-weight: bold;
}

.html_language,
.css_language,
.js_language{
  position: relative;
  margin-left: 10px;
}

.html_language::before,
.css_language::before,
.js_language::before{
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  right: 90%;
  top: 15%;
}

.html_language::before{
  background-color: #E34C26;
}

.css_language::before{
  background-color: #563D7C;
}

.js_language::before{
  background-color: #F1E05A;
}


@media (max-width: 1000px){
  .content{
    flex-direction: column;
    text-align: center;
  }
  
  .user{
    width: 100%;
  }

  .info{
    margin: 0;
  }

  .works{
    margin: 35px 0 0 0;
  }

  .worksTitle{
    text-align: center;
  }

  .repo{
    width: 100%;
    margin-top: 35px;
  }

  .repoTitle{
    margin: 0;
    text-align: center;
  }

  .language,.update{
    font-size: 10px;
  }

  .html_language::before,
  .css_language::before,
  .js_language::before{

    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: absolute;
    right: 95%;
    top: 15%;
  }
}