.item{
  color: black;
  position: relative;
  padding-left: 40px;
  transition: all .4s;
}

.done{
  color: grey;
  text-decoration: line-through;
}

.checkbox{
  margin: 0;
  opacity: 0;
  z-index: 2;
  height: 24px;
  width: 24px;
  position: absolute;
  cursor: pointer;
}


.item::before{
  position: absolute;
  content: "";
  display: inline-block;
  height: 20px;
  width: 20px;
  border: 1px solid;   
  border-radius: 50%;
  color:  rgba(0,0,0,0.3);
  left: 0px;
  top: -2px;
  transition: all .4s;
}

.item::after{
  position: absolute;
  content: "";
  display: inline-block;
  height: 5px;
  width: 11px;
  border-left: 3px solid;
  border-bottom: 2px solid;
  transform: rotate(-50deg);
  left: 4px;
  top: 4px;
  color: white;
}

.checkbox + .item::after{
  content: none;
}

.checkbox:checked + .item::after{
  content: "";
}

.checkbox:checked + .item::before{
  background: #2ECFC1;
  color: transparent;
}

.trash{
  width: 20px;
  cursor: pointer;
  transition: all .4s;
  fill: grey;
  opacity: 0.3;
}

.trash:hover{
  fill: #2ECFC1;
  opacity: 1;
}


